<div id="app">
  <header class="p-3 bg-dark text-white navbar">
    <div class="container">
      <div class="logo d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <p>MovieDB</p>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="{{linkMovie}}" href="#" class="nav-link px-2 text-white">Movie</a></li>
          <li><a routerLink="{{linkSeries}}" href="#" class="nav-link px-2 text-white">Series</a></li>
          <li><a routerLink="{{linkActors}}" href="#" class="nav-link px-2 text-white">Actors</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div class="scroll-container">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-3 col-md title">
          <h2>Movie DB</h2>
        </div>
        <div class="col-9 col-md copyright">
          <p>© MovieDB 2022</p>
        </div>
      </div>
    </div>
  </div>
</div>
