.nav {
  margin-left: 30px;
}

.logo {
  display: flex;
  justify-content: center;
  align-content: center;
}

.logo p {
  font-size: 25px;
  margin-bottom: 0;
  font-weight: 800;
}

.button1 {
  background: #ffc107;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.main {
  padding-bottom: 75px;
}

.footer {
  background: #212529;
  margin-top: 50px;
  color: #fff;
  margin-top: 268px;
  padding: 10px 0 10px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer li a {
    color: #fff;
}

.footer .title h2 {
  margin: 0;
  padding: 0;
}

.footer .copyright {
  display: flex;
  justify-content: right;
  align-items: center;
}

.footer .copyright p {
  text-align: right;
  padding: 0;
  margin: 0;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Scrollbar styling */
html {
  --scrollbarBackground: #ffffff;
  --thumbBackground: #007fad;
}

body::-webkit-scrollbar, .scroll-container::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  background-color: var(--scrollbarBackground);
}

/* Firefox */
body, .scroll-container {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBackground) var(--scrollbarBackground);
}

body::-webkit-scrollbar-thumb, .scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--thumbBackground);
  border-radius: 0.25rem;
}