.mat-chip-list-wrapper {
  justify-content: center;
}

.scroll-background {
  --scrollbarBackground: #6b7280;
}

.thumb-background {
  --thumbBackground: #92DCE5;
}

.background-image-opacity::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

