<div class="flex justify-center w-full h-full" [ngStyle]="{ 'background-image': 'url(' + movie?.backdropPath + ')'}">
  <div class="background-image-opacity">
    <div class="relative flex flex-col items-center justify-center rounded-xl max-w-[80rem] h-full lg:flex-row xl:my-12">
      <div class="flex flex-col justify-center items-center min-w-[50%] xl:min-w-[40%]">
        <img loading="lazy"
             class="max-w-none h-96 w-64 lg:h-full lg:max-h-[45rem] lg:w-full lg:max-w-[20rem] rounded-xl"
             src="{{movie?.posterPath}}" alt="Movie Poster">
      </div>
      <div class="lg:mr-24 xl:mx-12 min-w-[50%] xl:min-w-[60%]">
        <div class="flex flex-col items-center xl:flex-row mt-4 lg:mt-0">
          <div class="flex flex-col lg:grow lg:shrink-0 lg:basis-auto lg:w-1/2">
            <div class="text-2xl font-bold text-center text-white">{{movie?.originalTitle}}</div>
            <div class="flex justify-center mt-2 lg:mt-4 text-white">{{movie?.tagline}}</div>
          </div>

          <div class="flex flex-col mt-4 lg:grow lg:shrink-0 lg:basis-auto lg:w-1/2 lg:mt-4 xl:mt-0">
            <div>
              <mat-chip-list class="flex justify-center" aria-label="Genres">
                <mat-chip *ngFor="let genre of movie?.genres">{{genre.name}}</mat-chip>
              </mat-chip-list>
            </div>
            <div class="flex flex-row mt-2 md:mt-4">
              <div class="flex basis-1/2 justify-center text-white">
                {{movie?.releaseDate?.toLocaleDateString()}}
              </div>
              <div class="flex basis-1/2 justify-center text-white">
                {{movie?.runtime}} Minutes
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col mx-16 md:mx-44 lg:mx-24 mt-2 lg:mt-12">
          <div class="flex justify-center text-xl font-bold text-white">
            Overview
          </div>
          <div class="mt-2 lg:mt-4 text-white">
            {{movie?.overview}}
          </div>
        </div>

        <div class="flex flex-col lg:flex-row justify-center mx-4 mt-4 lg:mt-12">
          <div class="flex flex-col flex-1 justify-center mx-4 my-1"
               *ngFor="let directorOrWriter of movie?.directorsAndWriters">
            <div class="flex justify-center font-bold text-base text-white">
              {{directorOrWriter.name}}
            </div>
            <div class="mx-8">
              <div class="flex justify-center text-white">
                <div *ngIf="directorOrWriter.isDirector && directorOrWriter.isWriter; else director">
                  Director, Writer
                </div>
                <ng-template #director>
                  <div *ngIf="directorOrWriter.isDirector; else writer">
                    Director
                  </div>
                </ng-template>
                <ng-template #writer>
                  <div *ngIf="directorOrWriter.isWriter">
                    Writer
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="flex flex-col items-center my-24 mx-24 xl:flex-row xl:items-start xl:space-x-8">
  <div class="w-[75%] md:w-[40%] xl:w-[80%] bg-gray-500 rounded-xl py-8">
    <div class="flex flex-col justify-center items-center space-y-4 mt-4">
      <div>
        <div class="text-xl font-bold text-center text-white">Keywords</div>
        <div>
          <div class="flex justify-center" *ngIf="movie?.keywords; else keywordsFallback">
            <mat-chip-list class="flex justify-center max-w-[80%] center-mat-chips mt-4"
                           aria-label="Keywords">
              <mat-chip *ngFor="let keyword of movie?.keywords">{{keyword.name}}</mat-chip>
            </mat-chip-list>
          </div>
          <ng-template #keywordsFallback>-</ng-template>
        </div>
      </div>

      <div>
        <div class="text-xl font-bold text-center text-white">Rating</div>
        <div class="text-lg text-center text-white">
          <div *ngIf="movie?.voteAverage; else voteFallback">{{movie?.voteAverage}}</div>
          <ng-template #voteFallback>-</ng-template>
        </div>
      </div>

      <div>
        <div class="text-xl font-bold text-center text-white">Budget</div>
        <div class="text-lg text-center text-white">
          <div *ngIf="movie?.budget; else budgetFallback">{{movie?.budget}}</div>
          <ng-template #budgetFallback>-</ng-template>
        </div>
      </div>

      <div>
        <div class="text-xl font-bold text-center text-white">Revenue</div>
        <div class="text-lg text-center text-white">
          <div *ngIf="movie?.revenue; else revenueFallback">{{movie?.revenue}}</div>
          <ng-template #revenueFallback>-</ng-template>
        </div>
      </div>

      <div>
        <div class="text-xl font-bold text-center text-white">Original Language</div>
        <div class="text-lg text-center text-white">
          <div *ngIf="movie?.originalLanguage; else originalLanguageFallback">{{movie?.originalLanguage}}
          </div>
          <ng-template #originalLanguageFallback>-</ng-template>
        </div>
      </div>

      <div>
        <div class="text-xl font-bold text-center text-white">Status</div>
        <div class="text-lg text-center text-white">{{movie?.status}}</div>
      </div>
    </div>
  </div>

  <div class="grow-0 shrink-0 basis-auto w-full xl:w-2/3 mt-24 xl:mt-0">
    <div class="flex flex-col flex-1 pl-4">
      <div class="bg-gray-500 pb-4 rounded-xl">
        <div class="flex flex-col justify-center items-center font-bold my-8">
          <div class="text-3xl text-white">
            Watch Providers
          </div>
          <div class="flex flex-row w-full p-2 items-center justify-center">
            <form class="flex flex-col" [formGroup]="countryForm">
              <div class="flex flex-col md:flex-row md:space-x-8">
                <app-country-select class="w-full" formControlName="region" [isDeselectPossible]="false"
                                    (selectionChange)="onCountrySelectionChanged()">
                </app-country-select>
              </div>
            </form>
          </div>
        </div>
        <div *ngIf="watchProvidersInCurrentCountry?.length; else noStreamingProvidersFound"
             class="flex flex-row overflow-x-auto space-x-4 px-4 scroll-container pb-2 scroll-background mx-4">
          <app-streaming-provider-card *ngFor="let streamingProvider of watchProvidersInCurrentCountry"
                                       name="{{streamingProvider.providerName}}"
                                       logoPath="{{streamingProvider.logoPath}}"
                                       [isAvailableForRent]="streamingProvider.isAvailableForRent"
                                       [isAvailableInFlatrate]="streamingProvider.isAvailableInFlatrate"
                                       [isAvailableToBuy]="streamingProvider.isAvailableToBuy"
                                       customClasses="bg-[#92DCE5]">
          </app-streaming-provider-card>
        </div>
        <ng-template #noStreamingProvidersFound>
          <div class="flex flex-row justify-center items-center text-white">
            No Watch Providers available in the selected country.
          </div>
        </ng-template>
      </div>

      <div class="bg-gray-500 mt-8 pb-4 rounded-xl" *ngIf="movie?.cast && !!movie?.cast?.length">
        <div class="flex justify-center text-3xl font-bold my-8 text-white">
          Cast
        </div>
        <div class="flex flex-row overflow-x-auto space-x-4 px-4 scroll-container pb-2 scroll-background mx-4">
          <app-person-card *ngFor="let castMember of movie?.cast" name="{{castMember.name}}"
                           subtitle="{{castMember.character}}"
                           profilePicturePath="{{castMember.profilePath}}"
                           customClasses="bg-[#92DCE5]"></app-person-card>
        </div>
      </div>

      <div class="bg-gray-500 mt-8 pb-4 rounded-xl" *ngIf="movie?.crew && !!movie?.crew?.length">
        <div class="flex justify-center text-3xl font-bold my-8 text-white">
          Crew
        </div>
        <div class="flex flex-row overflow-x-auto space-x-4 px-4 scroll-container pb-2 scroll-background mx-4">
          <app-person-card *ngFor="let crewMember of movie?.crew" name="{{crewMember.name}}"
                           subtitle="{{crewMember.job}}"
                           profilePicturePath="{{crewMember.profilePath}}"
                           customClasses="bg-[#92DCE5]"></app-person-card>
        </div>
      </div>

    </div>
  </div>
</div>
