<p>movie-search works!</p>

<p>Query: {{this.query}}</p>


<p>Search Results:</p>
<div class="flex flex-row">
  <div *ngFor="let movie of movies"
       class="flex flex-col justify-center items-center w-52 my-4 rounded-xl space-y-4 bg-red-500 mx-8 pb-4">
    <div class="flex mt-4">
      <img class="w-52 h-52 max-w-none object-contain" alt="Profile Picture of cast member"
           src="{{movie.posterPath}}">
    </div>

    <div class="text-xl font-bold">{{movie.originalTitle}}</div>

  </div>
</div>

