.mat-chip-list-wrapper {
  justify-content: center;
}

.scroll-background {
  --scrollbarBackground: #3D414B;
}

.thumb-background {
  --thumbBackground: #212529;
}

.background-image-opacity::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.keyword-background-color .mat-chip.mat-standard-chip {
  background-color: #212529;
}

.genre-background-color .mat-chip.mat-standard-chip {
  background-color: #3D414B;
}
