<div class="my-12 mx-8">
    <div class="container">
    <div class="flex flex-col items-center md:flex-row">
        <div class="flex flex-col justify-center items-center min-w-[33%]">
            <img class="max-w-none h-80 w-80 md:h-auto md:w-auto md:max-w-[100%] lg:max-w-[40%] xl:max-w-[40%]"
              src="{{actorSearch?.profile_path}}" alt="Movie Poster">
          </div>
        <div class="md:mr-24 min-w-[67%]">
            <div class="flex flex-col items-center lg:flex-row mt-4 md:mt-0">
                <div class="title"><h3>{{actorSearch?.name}}</h3></div>
            </div>
            <div class="flex flex-col items-center lg:flex-row mt-4 md:mt-0">
                <div class="biography"><p>{{actor?.biography}}</p></div>
            <div>
        </div>
    </div>
    </div>
</div>

<div class="container">
    <div class="flex flex-col mt-24 xl:mt-12">
        <h3>Movies</h3>
        <div class="known-for" *ngFor="let known_for of actorSearch?.known_for">
            <p>{{known_for?.original_title}} ({{known_for?.release_date}})</p>
            <p>{{known_for?.overview}}</p>
        </div>
    </div>
</div>