<div class="home">
  <div class="header-slider">
    <div id="carouselExampleCaptions" class="carousel slide header-image" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/header_images/black_adam.jpg" class="d-block w-100" alt="Test!">
            <div class="carousel-caption d-none d-md-block">
                <!-- div class="position-relative overflow-hidden p-2 p-md-2 m-md-2 text-center" -->
                    <!-- div class="col-md-5 p-lg-5 mx-auto my-5 spacer-center">
                      <h1 class="display-4 fw-normal">Search for your movies and series</h1>
                      <p class="lead fw-normal">Here could be a search in the future</p>
                      <a class="btn btn-primary" href="#">Search</a>
                    </div -->
                    <!-- div class="product-device shadow-sm d-none d-md-block"></div -->
                    <!-- div class="product-device product-device-2 shadow-sm d-none d-md-block"></div -->
                <!-- /div -->
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/header_images/guardian_of_the_galaxy.jpg" class="d-block w-100" alt="Test!">
            <div class="carousel-caption d-none d-md-block">
                <!-- div class="position-relative overflow-hidden p-2 p-md-2 m-md-2 text-center" -->
                    <!-- div class="col-md-5 p-lg-5 mx-auto my-5 spacer-center">
                      <h1 class="display-4 fw-normal">Search for your movies and series</h1>
                      <p class="lead fw-normal">Here could be a search in the future</p>
                      <a class="btn btn-primary" href="#">Search</a>
                    </div -->
                    <!-- div class="product-device shadow-sm d-none d-md-block"></div -->
                    <!-- div class="product-device product-device-2 shadow-sm d-none d-md-block"></div -->
                <!-- /div -->
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/header_images/andor.jpg" class="d-block w-100" alt="Test!">
            <div class="carousel-caption d-none d-md-block">
                <!-- div class="position-relative overflow-hidden p-2 p-md-2 m-md-2 text-center" -->
                    <!-- div class="col-md-5 p-lg-5 mx-auto my-5 spacer-center">
                      <h1 class="display-4 fw-normal">Search for your movies and series</h1>
                      <p class="lead fw-normal">Here could be a search in the future</p>
                      <a class="btn btn-primary" href="#">Search</a>
                    </div -->
                    <!-- div class="product-device shadow-sm d-none d-md-block"></div -->
                    <!-- div class="product-device product-device-2 shadow-sm d-none d-md-block"></div -->
                <!-- /div -->
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<div id="carouselTest" class="carousel slide movies-slider bg-light" data-bs-ride="carousel">
    <div class="header">
        <h1>Movies Trends for this Week</h1>
    </div>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselTest" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselTest" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselTest" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselTest" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item " [ngClass]="{active:isFirst}" *ngFor="let row of movieList; first as isFirst">
        <div class="container-fluid marketing">
            <div class="row">
                <div class="col-lg-2 element-slider" *ngFor="let movies of row">
                    <div class="poster-image"><img src="{{getPosterImages(movies?.poster_path)}}" width="200" height="300"></div>
                    <div class="ratings"><b>{{getRatings(movies?.vote_average)}}%</b></div>
                    <div class="release"><b>{{movies?.original_title}}</b></div>
                    <div class="release">{{getDate(movies?.release_date)}}</div>
                    <div class="carousel-caption d-none d-md-block"></div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="buttons">
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselTest" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselTest" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>  
    </div>
</div>

<div id="carouselSeries" class="carousel slide movies-slider bg-light" data-bs-ride="carousel">
    <div class="header">
        <h1>Series Trends for this Week</h1>
    </div>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselSeries" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselSeries" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselSeries" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselSeries" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item " [ngClass]="{active:isFirst}" *ngFor="let row of seriesList; first as isFirst">
        <div class="container-fluid marketing">
            <div class="row">
                <div class="col-lg-2 element-slider" *ngFor="let series of row">
                    <div class="poster-image"><img src="{{getPosterImages(series?.poster_path)}}" width="200" height="300"></div>
                    <div class="ratings"><b>{{getRatings(series?.vote_average)}}%</b></div>
                    <div class="release"><b>{{series?.name}}</b></div>
                    <div class="release">{{getDate(series?.first_air_date)}}</div>
                    <div class="carousel-caption d-none d-md-block"></div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="buttons">
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselSeries" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselSeries" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>  
    </div>
</div>
</div>