<div class="home">
  <div
    id="carouselExampleInterval"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img
          src="../../assets/header_images/black_adam.jpg"
          class="d-block w-100"
          alt="Test!"
        />
        <div class="carousel-caption d-none d-md-block">
          <h1>Welcome to the MovieDB!</h1>
          <h2>Search for your favorite movies, series or actors!</h2>
          <div class="button-spacer">
            <button mat-button [routerLink]="['/movies-search']">
              Search Movies
            </button>
            <button mat-button [routerLink]="['/series']">Search Series</button>
            <button mat-button [routerLink]="['/actors']">
              Search Actors
            </button>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="../../assets/header_images/guardian_of_the_galaxy.jpg"
          class="d-block w-100"
          alt="Test!"
        />
        <div class="carousel-caption d-none d-md-block">
          <h1>Welcome to the MovieDB!</h1>
          <h2>Search for your favorite movies, series or actors!</h2>
          <div class="button-spacer">
            <button mat-button [routerLink]="['/movies-search']">
              Search Movies
            </button>
            <button mat-button [routerLink]="['/series']">Search Series</button>
            <button mat-button [routerLink]="['/actors']">
              Search Actors
            </button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/header_images/andor.jpg"
          class="d-block w-100"
          alt="Test!"
        />
        <div class="carousel-caption d-none d-md-block">
          <h1>Welcome to the MovieDB!</h1>
          <h2>Search for your favorite movies, series or actors!</h2>
          <div class="button-spacer">
            <button mat-button [routerLink]="['/movies-search']">
              Search Movies
            </button>
            <button mat-button [routerLink]="['/series']">Search Series</button>
            <button mat-button [routerLink]="['/actors']">
              Search Actors
            </button>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div
    id="carouselTest"
    class="carousel slide movies-slider bg-[#3D414B] text-white border-b-2 border-[#007fad]"
    data-bs-ride="carousel"
  >
    <div class="header">
      <h1>Movies Trends for this Week</h1>
    </div>
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselTest"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselTest"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselTest"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselTest"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
    </div>
    <div class="carousel-inner">
      <div
        class="carousel-item"
        [ngClass]="{ active: isFirst }"
        *ngFor="let row of movieList; first as isFirst"
      >
        <div class="container-fluid marketing">
          <div class="row">
            <div class="col-lg-2 element-slider flex justify-center" *ngFor="let movie of row">
              <a
              class="flex flex-col items-center h-128 w-64 my-4 rounded-xl pb-4 bg-[#212529]"
              [routerLink]="['/movies', movie.id]">
             <div class="flex">
               <img loading="lazy" class="w-64 h-80 rounded-t-xl" alt="Movie Picture of cast member"
                    src="{{movie?.poster_path}}">
             </div>
             <div class="flex flex-col h-full justify-center mx-4 mt-4">
              <div class="ratings"><b>{{ getRatings(movie?.vote_average) }}%</b></div>
               <div class="text-center text-lg font-bold text-white">{{movie.original_title}}</div>
               <div class="text-center text-lg font-bold text-white">{{movie.release_date}}</div>
             </div>
           </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselTest"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselTest"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div
    id="carouselSeries"
    class="carousel slide movies-slider bg-[#3D414B] text-white"
    data-bs-ride="carousel"
  >
    <div class="header">
      <h1>Series Trends for this Week</h1>
    </div>
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselSeries"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselSeries"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselSeries"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselSeries"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
    </div>
    <div class="carousel-inner">
      <div
        class="carousel-item"
        [ngClass]="{ active: isFirst }"
        *ngFor="let row of seriesList; first as isFirst"
      >
        <div class="container-fluid marketing">
          <div class="row">
            <div class="col-lg-2 element-slider flex justify-center" *ngFor="let series of row">
              <a
              class="flex flex-col items-center h-128 w-64 my-4 rounded-xl pb-4 bg-[#212529]"
              [routerLink]="['/series', series.id]">
             <div class="flex">
               <img loading="lazy" class="w-64 h-80 rounded-t-xl" alt="Movie Picture of cast member"
                    src="{{series?.poster_path}}">
             </div>
             <div class="flex flex-col h-full justify-center mx-4 mt-4">
              <div class="ratings">
                <b>{{ getRatings(series?.vote_average) }}%</b>
              </div>
               <div class="text-center text-lg font-bold text-white">{{series.name}}</div>
               <div class="text-center text-lg font-bold text-white">{{series.first_air_date}}</div>
             </div>
           </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselSeries"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselSeries"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
